.popup__container {
  background-color: #fff;
  min-width: 430px;
  height: max-content;
  border-radius: 10px;
  position: relative;
  transform: translate(0, 50%);
}

@media screen and (max-width: 768px) {
  .popup__container {
    min-width: 280px;
    max-width: 282px;
}
}
