.popup__close{
  width: 32px;
  height: 32px;
  background-image: url(../../../images/popup-close-button.svg);
  background-color: transparent;
  border: none;
  transform: translate(438px, -40px);
}

@media screen and (max-width: 320px)  {
  .popup__close {
    width: 20px;
    height: 20px;
    transform: translate(260px, -35px);
    background-size: contain;
}
}

