.profile__info {
  display: flex;
  flex-direction: column;
  min-width: 340px;
  justify-content: center;
  grid-area: profile-name;
  width: fit-content;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .profile__info {
    min-width: 282px;
    margin-top: 26px;
    justify-content: center;
  }
}
