.card__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-width: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.card__like:hover {
  opacity: 0.5;
}
