.card__like_active {
  background-image: url(../../../../images/black-like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 22px;
  min-width: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
}
