.footer {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-top: 66px;
}

@media screen and (max-width: 320px) {
.footer {
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
    margin-top: 48px;
   padding-left: 20px;
}
}
